In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

stock_data = pd.read_csv('fulldata.csv')
stock_data["FutureOne"]= stock_data.Close.shift(-1)
stock_data.loc[stock_data.Close >= stock_data.FutureOne, "TrendOne"]= 0
stock_data.loc[stock_data.Close < stock_data.FutureOne, "TrendOne"]= 1
stock_data['TrendOne']=stock_data['TrendOne'].fillna(0).astype(int)

stock_data

,DateTime,Volume,Transaction,Open,High,Low,Close,Dir,Change,ForeignBuy,ForeignSell,ForeignNet,TrustBuy,TrustSell,TrustNet,DealerNet,DealerBuy,DealerSell,InvestorsNet,FutureOne,TrendOne
0,2013-01-02,40647,14353,97.6,99.9,97.1,99.6,+,2.6,22484,8625,13859,1746,147,1599,-350,1300,1650,15108,101.0,1
1,2013-01-03,44335,12616,100.5,102.0,100.0,101.0,+,1.4,32303,17347,14955,926,516,410,-1067,1512,2579,14298,101.5,1
2,2013-01-04,39502,10276,100.5,101.5,100.0,101.5,+,0.5,33581,24337,9244,234,190,44,-246,910,1156,9042,100.5,0
3,2013-01-07,42328,9042,101.0,101.0,99.1,100.5,-,1.0,26613,26952,-339,203,925,-722,-450,871,1321,-1511,99.7,0
4,2013-01-08,31218,9463,99.6,100.0,98.9,99.7,-,0.8,16628,15087,1540,209,635,-426,-80,749,829,1034,100.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2504,2023-03-30,20380,18171,536.0,537.0,531.0,535.0,+,5.0,16398,10674,5724,32,131,-99,146,520,374,5770,533.0,0
2505,2023-03-31,24324,15962,538.0,538.0,532.0,533.0,-,2.0,20121,16292,3829,60,144,-84,757,869,112,4502,530.0,0
2506,2023-04-06,26706,19144,530.0,531.0,526.0,530.0,-,3.0,22033,19679,2353,60,89,-29,-221,193,414,2103,531.0,1
2507,2023-04-07,11114,10285,535.0,535.0,529.0,531.0,+,1.0,8456,6175,2281,147,103,44,-94,56,150,2231,529.0,0
2508,2023-04-10,8203,11698,533.0,533.0,528.0,529.0,-,2.0,5283,4059,1224,19,74,-55,-78,80,159,1090,NaN,0

In [2]:
# define the target and features
DateTime=['DateTime']
target = ['TrendOne']
features = ['Transaction','Open', 'High', 'Low','Close','TrustBuy','TrustNet']
df = stock_data[DateTime+features + target]
df

,DateTime,Transaction,Open,High,Low,Close,TrustBuy,TrustNet,TrendOne
0,2013-01-02,14353,97.6,99.9,97.1,99.6,1746,1599,1
1,2013-01-03,12616,100.5,102.0,100.0,101.0,926,410,1
2,2013-01-04,10276,100.5,101.5,100.0,101.5,234,44,0
3,2013-01-07,9042,101.0,101.0,99.1,100.5,203,-722,0
4,2013-01-08,9463,99.6,100.0,98.9,99.7,209,-426,1
...,...,...,...,...,...,...,...,...,...
2504,2023-03-30,18171,536.0,537.0,531.0,535.0,32,-99,0
2505,2023-03-31,15962,538.0,538.0,532.0,533.0,60,-84,0
2506,2023-04-06,19144,530.0,531.0,526.0,530.0,60,-29,1
2507,2023-04-07,10285,535.0,535.0,529.0,531.0,147,44,0
2508,2023-04-10,11698,533.0,533.0,528.0,529.0,19,-55,0

In [3]:
# split the data
split = int(df.shape[0] * 0.8)
df_train = df.iloc[:split, :].copy()
df_test = df.iloc[split:, :].copy()
# scale the data
target_scaler = MinMaxScaler().fit(df_train[target])
df_train[target] = target_scaler.transform(df_train[target])
df_test[target] = target_scaler.transform(df_test[target])

features_scaler = MinMaxScaler().fit(df_train[features])
df_train[features] = features_scaler.transform(df_train[features])
df_test[features] = features_scaler.transform(df_test[features])

df_train

,DateTime,Transaction,Open,High,Low,Close,TrustBuy,TrustNet,TrendOne
0,2013-01-02,0.056705,0.008056,0.008560,0.007406,0.008987,0.353799,0.644491,1.0
1,2013-01-03,0.049285,0.013135,0.012155,0.012520,0.011407,0.187639,0.513095,1.0
2,2013-01-04,0.039290,0.013135,0.011299,0.012520,0.012271,0.047416,0.472649,0.0
3,2013-01-07,0.034018,0.014011,0.010443,0.010933,0.010543,0.041135,0.387999,0.0
4,2013-01-08,0.035817,0.011559,0.008731,0.010580,0.009160,0.042351,0.420709,1.0
...,...,...,...,...,...,...,...,...,...
2002,2021-03-11,0.200207,0.880911,0.885294,0.885382,0.889388,0.043566,0.482705,1.0
2003,2021-03-12,0.149790,0.914186,0.895566,0.910069,0.898030,0.027356,0.478064,0.0
2004,2021-03-15,0.109672,0.912434,0.888718,0.910069,0.892845,0.021884,0.460935,1.0
2005,2021-03-16,0.155890,0.905429,0.887006,0.906542,0.896301,0.031814,0.471654,0.0
2006,2021-03-17,0.288358,0.908932,0.885294,0.897725,0.880747,0.011955,0.469444,0.0

In [4]:
# extract the input sequences and output values
sequence_length = 5

X_train, y_train = [], []

for i in range(sequence_length, df_train.shape[0]):
    X_train.append(df_train[features].iloc[i - sequence_length: i])
    y_train.append(df_train[target].iloc[i])

X_train, y_train = np.array(X_train), np.array(y_train)

X_test, y_test = [], []

for i in range(sequence_length, df_test.shape[0]):
    X_test.append(df_test[features].iloc[i - sequence_length: i])
    y_test.append(df_test[target].iloc[i])

X_test, y_test = np.array(X_test), np.array(y_test)

print(X_train.shape)
print(X_test.shape)

(2002, 5, 7)
(497, 5, 7)

In [29]:
# build and train the model
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=X_train.shape[1:]))
model.add(Dropout(0.2))
model.add(LSTM(units=100, return_sequences=False))
model.add(Dropout(0.2))
# model.add(LSTM(units=200, activation="tanh", return_sequences=False))
# model.add(Dropout(0.2))
# model.add(LSTM(units=20, return_sequences=True))
# model.add(Dropout(0.2))
# model.add(LSTM(units=60, return_sequences=True))
# model.add(Dropout(0.2))
# model.add(LSTM(units=120, return_sequences=True))
# model.add(Dropout(0.2))
# model.add(Dense(units=50))
model.add(Dense(units=10, activation='relu'))
model.add(Dense(units=1))
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_9 (LSTM)               (None, 5, 50)             11600

 dropout_9 (Dropout)         (None, 5, 50)             0

 lstm_10 (LSTM)              (None, 100)               60400

 dropout_10 (Dropout)        (None, 100)               0

 dense_6 (Dense)             (None, 10)                1010

 dense_7 (Dense)             (None, 1)                 11

=================================================================
Total params: 73,021
Trainable params: 73,021
Non-trainable params: 0
_________________________________________________________________

In [30]:
model.compile(optimizer='adam', loss='mean_squared_error')

train_history=model.fit(X_train, y_train, epochs=50, batch_size=64)

model.evaluate(X_test, y_test)

#save the model
# model.save('LSTM_eps50_bsize64.h5')

# # generate the test set predictions
# y_pred = model.predict(X_test)
# y_pred = target_scaler.inverse_transform(y_pred)

Epoch 1/50
32/32 [==============================] - 3s 10ms/step - loss: 0.3220
Epoch 2/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2528
Epoch 3/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2512
Epoch 4/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2528
Epoch 5/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2528
Epoch 6/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2540
Epoch 7/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2519
Epoch 8/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2536
Epoch 9/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2509
Epoch 10/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2522
Epoch 11/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2504
Epoch 12/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2496
Epoch 13/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2503
Epoch 14/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2514
Epoch 15/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2524
Epoch 16/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2509
Epoch 17/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2522
Epoch 18/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2502
Epoch 19/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2526
Epoch 20/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2495
Epoch 21/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2518
Epoch 22/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2511
Epoch 23/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2498
Epoch 24/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2514
Epoch 25/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2510
Epoch 26/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2516
Epoch 27/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2504
Epoch 28/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2508
Epoch 29/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2505
Epoch 30/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2526
Epoch 31/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2508
Epoch 32/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2506
Epoch 33/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2511
Epoch 34/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2518
Epoch 35/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2507
Epoch 36/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2495
Epoch 37/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2507
Epoch 38/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2514
Epoch 39/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2502
Epoch 40/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2502
Epoch 41/50
32/32 [==============================] - 0s 11ms/step - loss: 0.2503
Epoch 42/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2504
Epoch 43/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2495
Epoch 44/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2513
Epoch 45/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2505
Epoch 46/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2506
Epoch 47/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2506
Epoch 48/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2501
Epoch 49/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2506
Epoch 50/50
32/32 [==============================] - 0s 10ms/step - loss: 0.2499
16/16 [==============================] - 0s 2ms/step - loss: 0.2515

0.25150710344314575

In [31]:
y_pred = model.predict(X_test)
y_pred = target_scaler.inverse_transform(y_pred)
df['Predicted'] = np.nan
df['Predicted'].iloc[- y_pred.shape[0]:] = y_pred.flatten().round(0)
df

16/16 [==============================] - 0s 2ms/step

        DateTime  Transaction   Open   High    Low  Close  TrustBuy  TrustNet  \
0     2013-01-02        14353   97.6   99.9   97.1   99.6      1746      1599
1     2013-01-03        12616  100.5  102.0  100.0  101.0       926       410
2     2013-01-04        10276  100.5  101.5  100.0  101.5       234        44
3     2013-01-07         9042  101.0  101.0   99.1  100.5       203      -722
4     2013-01-08         9463   99.6  100.0   98.9   99.7       209      -426
5     2013-01-09         7616  100.5  100.5   99.2  100.0       130      -113
6     2013-01-10         8304   99.9  101.0   99.5  101.0       151       -12
7     2013-01-11         7982  101.5  101.5  100.5  101.0       102      -250
8     2013-01-14         6414  101.0  102.0  100.0  102.0       120       120
9     2013-01-15        10021  102.0  102.0   99.8  100.5       300      -199
10    2013-01-16         8742  100.5  100.5   99.2   99.2        39     -4233
11    2013-01-17         9034  100.5  101.0   98.5   99.3       696       291
12    2013-01-18        11823  101.5  101.5  100.5  101.5       732      -743
13    2013-01-21         5625  101.0  101.0  100.0  100.5       591       -26
14    2013-01-22         5388  101.0  101.0   99.9  101.0       476       292
15    2013-01-23         7292  101.5  101.5  100.0  101.0       112      -220
16    2013-01-24         8257  100.0  100.5   99.2   99.9       211       -82
17    2013-01-25        11885   99.9   99.9   98.0   99.0        16     -1238
18    2013-01-28         7200   98.7   99.5   98.6   99.3       125       108
19    2013-01-29        12071  100.0  101.5   99.7  101.0         0      -483
20    2013-01-30         6963  102.0  102.0  100.5  101.5         0       -80
21    2013-01-31         6481  100.5  101.5  100.0  101.5       135        72
22    2013-02-01         7596  101.5  101.5  100.5  101.5         0      -327
23    2013-02-04        10873  102.0  103.0  102.0  103.0        57     -1867
24    2013-02-05         5200  103.0  103.0  101.5  103.0       130      -695
25    2013-02-06         9340  103.5  105.0  103.0  105.0       109      -317
26    2013-02-18        13470  107.0  108.5  106.5  107.0       264      -646
27    2013-02-19         6114  108.5  108.5  106.5  107.0       320       -29
28    2013-02-20        10171  108.5  109.5  108.0  109.0       104      -456
29    2013-02-21         7485  108.5  108.5  107.0  107.0         0     -1182
30    2013-02-22        10313  106.0  106.5  105.0  105.5        52      -109
31    2013-02-23         3022  106.5  107.5  106.0  107.0       102      -669
32    2013-02-25         8564  106.5  107.0  105.0  105.0       500       441
33    2013-02-26         9572  103.5  105.0  102.5  103.5       530        39
34    2013-02-27        13654  102.0  104.5  101.0  104.5       774      -892
35    2013-03-01         9263  103.0  105.0  102.5  105.0         0     -1408
36    2013-03-04        11896  104.5  104.5  101.5  102.0         0     -2313
37    2013-03-05         9603  103.5  104.0  102.5  104.0       825     -1027
38    2013-03-06         6844  104.0  104.5  103.0  104.0       100      -682
39    2013-03-07         6812  103.5  104.0  103.0  103.0        40     -1060
40    2013-03-08         8598  103.0  104.5  102.0  103.5       344     -3118
41    2013-03-11         9071  102.0  104.0  102.0  102.0         0     -1616
42    2013-03-12         6294  102.0  103.0  101.5  102.5        40     -3097
43    2013-03-13         9978  102.5  105.0  102.0  104.5        50     -1325
44    2013-03-14         7022  104.0  104.5  103.0  104.0       281      -336
45    2013-03-15         6030  105.0  105.0  103.0  103.0      4935      4816
46    2013-03-18        11128  102.0  102.0  100.5  100.5       239      -151
47    2013-03-19        11099  101.0  101.5   99.6  100.0        73     -1910
48    2013-03-20        13861   99.5   99.5   98.8   98.8        32      -298
49    2013-03-21        13448   98.8  100.5   98.7   98.7       920      -385
50    2013-03-22        12072   98.6   99.1   98.0   98.0       210     -1746
51    2013-03-25         7606   99.9  100.5   99.2   99.5         0      -289
52    2013-03-26         8019   99.2   99.4   98.8   99.0       104     -1105
53    2013-03-27         7304   99.0  100.5   98.8  100.5       127     -1325
54    2013-03-28         7232  100.0  100.5   99.3  100.0         0      -296
55    2013-03-29         5024  100.0  101.0   99.8  100.5        46      -361
56    2013-04-01         4450  101.0  102.0  100.5  101.0        70      -600
57    2013-04-02         6500  100.5  101.0   99.8  100.5       163       -25
58    2013-04-03         6886  101.5  101.5  100.0  100.5       200      -223
59    2013-04-08        11496   99.0   99.5   98.5   98.5        58       -77
60    2013-04-09        10389   98.0   98.5   97.5   97.5       645       583
61    2013-04-10         7197   98.8   98.8   97.7   98.3       674       674
62    2013-04-11        12430   99.0  101.5   98.8  101.5      1048       -83
63    2013-04-12         5602  101.5  101.5  100.0  100.5        66        66
64    2013-04-15         6275  100.5  101.0   99.1   99.4       207      -592
65    2013-04-16         8309   98.2  101.0   98.2  100.5        83      -525
66    2013-04-17         7663  101.5  101.5   99.7  100.0       232        16
67    2013-04-18         7209  100.0  101.0   99.4   99.9         0      -401
68    2013-04-19        15197  105.5  106.5  105.5  106.5      4394      3994
69    2013-04-22        16146  108.5  109.5  107.5  108.5      2657      2449
70    2013-04-23        10405  106.5  107.5  105.5  106.0       460      -149
71    2013-04-24        10908  106.5  107.0  104.5  106.0       130       118
72    2013-04-25         7044  106.0  107.0  105.5  107.0       424        28
73    2013-04-26        11735  107.0  109.0  107.0  108.5       408      -354
74    2013-04-29         6502  108.5  108.5  107.5  108.0        60      -197
75    2013-04-30        10732  108.5  109.5  108.5  109.5       306      -422
76    2013-05-02        10471  110.0  111.0  109.0  110.5       211        22
77    2013-05-03         9832  111.5  112.5  110.0  110.0       210       -81
78    2013-05-06         6706  111.5  111.5  110.5  111.5       236      -151
79    2013-05-07         7353  112.0  113.0  111.0  112.5         0      -355
80    2013-05-08        11870  112.5  115.0  112.5  114.5         6      -301
81    2013-05-09         9101  116.0  116.0  114.5  115.0      2199      1915
82    2013-05-10         7521  115.0  115.0  113.5  114.5         0      -999
83    2013-05-13         3993  115.0  115.5  114.0  114.5         0      -315
84    2013-05-14         7881  115.5  116.5  115.0  115.5         1     -1472
85    2013-05-15         6849  115.0  116.0  113.5  115.0        50      -614
86    2013-05-16        10033  115.0  116.0  113.0  113.5         0      -525
87    2013-05-17         6145  112.0  113.5  111.5  113.5         0      -534
88    2013-05-20         4897  112.5  114.0  112.5  114.0         0      -311
89    2013-05-21         5038  113.0  113.5  112.0  112.5         0      -416
90    2013-05-22         8462  112.5  113.5  111.0  112.0         0      -421
91    2013-05-23        12254  110.5  111.5  108.0  108.0       500     -1272
92    2013-05-24         7786  109.5  110.5  108.5  109.5         1      -114
93    2013-05-27         6339  109.5  112.0  109.5  112.0       142        87
94    2013-05-28         5944  112.0  112.5  109.5  109.5      3170      2967
95    2013-05-29         4809  110.5  112.0  110.5  111.0       400       203
96    2013-05-30         6534  111.0  111.5  109.5  110.0         4      -116
97    2013-05-31         7620  111.5  111.5  109.0  109.5         8       -52
98    2013-06-03         9111  108.0  108.5  106.5  107.5         0      -111
99    2013-06-04         6964  109.0  110.0  107.5  109.0         0      -546
100   2013-06-05         4331  109.5  110.5  108.5  109.5         9      -342
101   2013-06-06         8225  108.5  109.5  107.0  107.5         0      -115
102   2013-06-07         9288  108.0  109.5  108.0  108.5       291      -601
103   2013-06-10         5544  110.0  110.0  108.0  108.5       314       271
104   2013-06-11         7971  110.0  110.0  108.0  108.0       258       258
105   2013-06-13        15038  106.0  107.0  104.0  104.5       591       322
106   2013-06-14         8686  105.0  106.0  104.5  106.0       593       593
107   2013-06-17         7015  105.5  106.0  105.0  106.0       629       622
108   2013-06-18         6753  105.0  106.5  104.5  106.5         0      -118
109   2013-06-19         5112  106.0  106.5  105.0  105.5       330       214
110   2013-06-20         8257  105.0  105.5  103.5  104.0        91       -33
111   2013-06-21         8632  102.0  103.5  101.5  103.5      1094       471
112   2013-06-24        12255  102.5  102.5  100.0  101.0       304      -339
113   2013-06-25         8672  101.0  103.0  101.0  101.0        80      -170
114   2013-06-26        12682  103.0  104.0  101.5  101.5      1186      1118
115   2013-06-27        12441  103.0  105.0  103.0  104.5       304       304
116   2013-06-28        15111  106.0  111.0  105.0  111.0       220      -497
117   2013-07-01        14947  109.0  109.5  108.0  108.0        25      -825
118   2013-07-02        12114  109.0  110.0  108.5  110.0       302       -27
119   2013-07-03        11083  107.0  107.0  105.5  107.0       174       159
120   2013-07-04         7185  106.5  107.0  106.0  107.0        83       -51
121   2013-07-05         8054  107.5  109.5  107.0  109.0       332       271
122   2013-07-08         8927  107.0  108.0  104.5  105.0       290       285
123   2013-07-09         7985  104.5  106.5  103.5  106.0       402      -171
124   2013-07-10         6180  104.5  107.0  104.5  106.0       200        75
125   2013-07-11        13597  107.5  109.5  107.5  109.5       609       270
126   2013-07-12         8347  109.5  110.0  108.5  110.0       294     -1042
127   2013-07-15         7527  108.5  109.5  108.0  109.5       109      -129
128   2013-07-16         7121  108.5  109.0  107.0  108.0       100     -2733
129   2013-07-17         7538  108.0  109.0  107.0  109.0        36      -762
130   2013-07-18        10862  107.5  108.0  105.5  105.5         6      -928
131   2013-07-19        33783   99.4   99.7   98.2   98.2       665     -3748
132   2013-07-22        23948   98.0   98.4   96.9   97.0        60     -1070
133   2013-07-23        20652   98.5  101.5   98.5  100.0       621       255
134   2013-07-24        13201  100.5  103.0  100.0  102.0        15      -107
135   2013-07-25         9555  102.0  103.5  101.0  102.5       432       149
136   2013-07-26         7680  103.0  103.0  101.0  102.5         0      -384
137   2013-07-29         9559  100.0  101.5  100.0  100.0       581       149
138   2013-07-30         8756  100.5  102.5  100.5  102.0       800       -72
139   2013-07-31         7128  101.5  103.0  101.0  102.5        12      -483
140   2013-08-01         7756  102.0  102.0  100.0  100.5         0      -277
141   2013-08-02         7866  102.5  103.0  100.0  100.5        67      -828
142   2013-08-05         6400  100.0  101.5   99.9  100.5        30     -2108
143   2013-08-06        13012  100.5  100.5   98.6   98.8         0      -420
144   2013-08-07        15082   98.5   98.5   97.0   97.0       124      -591
145   2013-08-08        14412   96.0   97.1   95.3   96.4       165      -947
146   2013-08-09        13162  100.0  100.0   96.4   96.4        79     -1336
147   2013-08-12        10395   96.4   96.7   95.6   96.0        49      -340
148   2013-08-13         9192   96.0   97.4   96.0   97.2         0     -1433
149   2013-08-14         9471   96.0   97.3   95.8   96.8        38     -1575
150   2013-08-15        13251   96.4   96.4   95.3   96.0       124      -239
151   2013-08-16        11061   95.4   97.5   95.2   96.5       156      -316
152   2013-08-19        11661   95.5   96.1   95.3   95.5       233      -716
153   2013-08-20        13924   95.2   95.4   94.4   94.4       243     -2228
154   2013-08-22        15238   93.0   94.9   92.9   94.5       294     -1261
155   2013-08-23        12547   95.7   97.3   95.5   97.0      1409      1354
156   2013-08-26         6745   97.6   97.6   96.1   96.8       406       396
157   2013-08-27         7827   96.0   96.8   95.6   95.6       335       135
158   2013-08-28        10927   95.6   97.3   95.1   96.8       586       343
159   2013-08-29        11284   96.9   98.9   96.9   98.7      1049       549
160   2013-08-30        11441   99.6  100.5   98.8  100.5       680        25
161   2013-09-02        10416  100.0  102.0   99.6  102.0         0      -898
162   2013-09-03        10651  103.0  103.0  101.5  102.0       818     -1498
163   2013-09-04         8405  100.5  101.5  100.0  100.5         0      -508
164   2013-09-05         6991  100.5  101.5  100.0  101.5       103      -488
165   2013-09-06         6824  102.0  102.0  101.0  102.0       387        17
166   2013-09-09         9300  102.5  103.0  101.0  103.0        54       -58
167   2013-09-10        10178  103.0  104.5  102.5  104.5       193       193
168   2013-09-11         8961  103.0  104.5  102.5  104.5       426       395
169   2013-09-12         7435  103.0  104.5  103.0  103.5         0       -68
170   2013-09-13         6354  102.5  103.0  102.0  102.5        60      -914
171   2013-09-14         2440  102.5  103.5  102.0  102.5        56       -54
172   2013-09-16        12903  104.0  105.5  104.0  105.5        80      -364
173   2013-09-17         5644  105.5  105.5  104.5  105.5         0      -164
174   2013-09-18         5930  105.0  105.5  103.0  103.0        81     -1800
175   2013-09-23        11435  103.0  106.0  102.5  105.5         0      -538
176   2013-09-24         6370  105.0  105.5  104.0  105.0        60      -585
177   2013-09-25         9153  104.5  104.5  103.0  103.0        74      -187
178   2013-09-26         5431  103.5  103.5  101.5  101.5        44      -640
179   2013-09-27         5626  103.5  103.5  102.0  103.0        50        30
180   2013-09-30        11263  100.5  102.0  100.0  100.5       342      -113
181   2013-10-01         5825  100.5  102.5  100.5  101.5       122       -17
182   2013-10-02         5617  103.5  103.5  102.0  103.0       110      -153
183   2013-10-03        14268  103.5  106.0  103.0  105.0       152       129
184   2013-10-04         5554  104.5  105.0  103.5  104.0        75        63
185   2013-10-07         5290  103.5  104.0  102.0  103.0        64      -300
186   2013-10-08         5955  103.5  105.5  103.0  105.0       545       442
187   2013-10-09         5570  104.0  105.5  103.0  105.0       222        19
188   2013-10-11        14696  105.0  107.5  105.0  106.5       679       232
189   2013-10-14         5172  106.5  106.5  105.0  105.0      1626      1552
190   2013-10-15         5043  106.5  107.0  106.0  107.0       685       669
191   2013-10-16         5610  108.0  108.0  106.0  106.0       370       354
192   2013-10-17         7058  107.5  108.0  107.0  107.0       292       163
193   2013-10-18        16771  108.5  110.0  108.5  110.0       310       261
194   2013-10-21         9241  111.0  111.5  109.5  110.0        93      -240
195   2013-10-22         8828  110.0  111.5  109.5  111.5        37      -116
196   2013-10-23         5675  111.0  111.5  110.0  111.0       121      -363
197   2013-10-24         7246  109.0  110.0  108.5  110.0       115      -584
198   2013-10-25        11658  108.5  109.0  106.5  107.0       225     -1065
199   2013-10-28         5634  108.0  109.5  107.5  109.5        29      -418
200   2013-10-29         4061  108.5  109.5  108.0  109.5        10        -3
201   2013-10-30         4443  109.0  110.0  109.0  110.0        15       -34
202   2013-10-31         4626  108.5  109.5  108.0  109.5       176       173
203   2013-11-01         3795  110.5  110.5  108.5  109.5        50      -303
204   2013-11-04         4622  108.0  109.0  108.0  109.0         0      -265
205   2013-11-05         6414  108.5  109.0  106.5  106.5        15      -145
206   2013-11-06         7155  106.5  107.5  106.5  107.0        10      -118
207   2013-11-07         5026  107.0  107.5  106.0  107.0         0       -67
208   2013-11-08         7421  105.0  106.5  105.0  106.0       700       207
209   2013-11-11         8709  105.0  106.0  104.5  104.5        11       -21
210   2013-11-12         6868  106.0  106.0  104.5  105.0       119      -177
211   2013-11-13         8182  105.0  105.0  103.0  103.0       206       146
212   2013-11-14         7251  104.0  104.5  103.5  103.5       176      -190
213   2013-11-15         5083  103.5  104.5  103.5  104.0       203       203
214   2013-11-18         6957  104.5  105.0  104.0  104.0       498       278
215   2013-11-19         8014  104.5  105.5  104.0  105.0       798       776
216   2013-11-20        10990  104.0  104.0  102.5  103.0       149      -221
217   2013-11-21        14431  102.0  103.0  100.5  101.0       162        32
218   2013-11-22        13182  100.0  101.5  100.0  100.0       237       107
219   2013-11-25         7929  101.0  102.5  101.0  101.0       339       240
220   2013-11-26        11490  102.0  105.0  101.5  103.5       528       420
221   2013-11-27         6528  105.0  105.5  104.5  105.0       446       446
222   2013-11-28         6169  105.0  105.5  104.5  105.0       103        36
223   2013-11-29         5923  104.5  105.0  104.0  105.0        40       -77
224   2013-12-02         4418  105.0  105.5  104.0  104.5        34      -239
225   2013-12-03         4779  104.0  105.0  103.5  104.0         7      -191
226   2013-12-04         5304  103.5  105.5  103.5  105.0        28         8
227   2013-12-05         5844  105.0  105.0  103.5  104.0         0      -102
228   2013-12-06         5835  103.0  104.5  103.0  103.0        39      -390
229   2013-12-09         5324  104.0  105.0  104.0  105.0       132      -284
230   2013-12-10         4643  104.5  105.0  104.0  104.0       238      -139
231   2013-12-11         7385  103.5  105.0  103.5  105.0       152        72
232   2013-12-12         5445  104.5  104.5  103.0  103.0       706       378
233   2013-12-13         7034  102.5  103.5  102.5  102.5       817       794
234   2013-12-16         6032  102.5  103.0  102.0  102.0       422      -504
235   2013-12-17         6356  103.0  104.5  103.0  103.5       657       149
236   2013-12-18        15072  102.5  103.0  101.0  101.0       362       -18
237   2013-12-19         6192  102.0  103.0  101.5  102.5       156      -175
238   2013-12-20         8353  101.5  103.5  101.5  102.0       218      -187
239   2013-12-23         6994  103.0  104.5  103.0  104.0       311       300
240   2013-12-24         3724  104.0  104.0  103.0  103.0       400      -172
241   2013-12-25         2848  102.5  103.5  102.5  103.0         0      -122
242   2013-12-26         1135  103.0  104.0  103.0  104.0        10       -40
243   2013-12-27         5626  103.5  104.5  103.0  104.5        50      -289
244   2013-12-30        10564  104.0  106.0  104.0  106.0        30      -429
245   2013-12-31         6632  105.5  106.0  105.0  105.5       587       155
246   2014-01-02         4136  105.0  105.5  103.5  104.5        40      -984
247   2014-01-03         8524  103.0  103.0  102.0  102.5        20      -811
248   2014-01-06         4874  102.0  103.0  102.0  102.5       200        22
249   2014-01-07         5529  102.5  103.0  102.0  102.0       288       123
250   2014-01-08         7305  103.0  104.5  102.5  104.0       404       344
251   2014-01-09        19873  102.5  103.0  100.5  101.0       553       373
252   2014-01-10         7619  102.0  102.5  101.5  102.0      1583      1539
253   2014-01-13         6282  103.0  103.5  102.5  103.0       480       453
254   2014-01-14         5256  102.5  103.5  102.0  103.5      1286      1286

In [32]:
pd.set_option('display.max_rows', None)
dfpred=df[['DateTime','Open','TrendOne', 'Predicted']].dropna()
dfpred['Predicted']=dfpred['Predicted'].astype(int)
expectedans = dfpred.TrendOne.values
probability = dfpred.Predicted.values
dfpred

        DateTime   Open  TrendOne  Predicted
2012  2021-03-25  572.0         1          0
2013  2021-03-26  582.0         1          0
2014  2021-03-29  599.0         0          0
2015  2021-03-30  600.0         0          0
2016  2021-03-31  596.0         1          0
2017  2021-04-01  598.0         1          0
2018  2021-04-06  615.0         0          1
2019  2021-04-07  614.0         1          1
2020  2021-04-08  606.0         0          1
2021  2021-04-09  618.0         0          1
2022  2021-04-12  612.0         0          1
2023  2021-04-13  604.0         1          1
2024  2021-04-14  608.0         1          1
2025  2021-04-15  612.0         0          1
2026  2021-04-16  610.0         0          1
2027  2021-04-19  605.0         0          1
2028  2021-04-20  598.0         0          0
2029  2021-04-21  599.0         0          0
2030  2021-04-22  596.0         1          0
2031  2021-04-23  592.0         1          0
2032  2021-04-26  605.0         0          0
2033  2021-04-27  608.0         0          0
2034  2021-04-28  606.0         0          1
2035  2021-04-29  609.0         0          1
2036  2021-05-03  595.0         1          1
2037  2021-05-04  588.0         0          1
2038  2021-05-05  594.0         1          0
2039  2021-05-06  590.0         1          0
2040  2021-05-07  594.0         0          0
2041  2021-05-10  596.0         0          0
2042  2021-05-11  579.0         0          1
2043  2021-05-12  567.0         0          0
2044  2021-05-13  547.0         1          0
2045  2021-05-14  556.0         0          0
2046  2021-05-17  544.0         1          0
2047  2021-05-18  563.0         0          0
2048  2021-05-19  571.0         0          1
2049  2021-05-20  567.0         1          1
2050  2021-05-21  572.0         0          1
2051  2021-05-24  570.0         1          1
2052  2021-05-25  576.0         1          1
2053  2021-05-26  587.0         0          1
2054  2021-05-27  580.0         1          1
2055  2021-05-28  587.0         1          1
2056  2021-05-31  595.0         1          1
2057  2021-06-01  598.0         0          1
2058  2021-06-02  600.0         1          1
2059  2021-06-03  600.0         0          1
2060  2021-06-04  591.0         0          1
2061  2021-06-07  594.0         0          1
2062  2021-06-08  590.0         0          1
2063  2021-06-09  586.0         1          1
2064  2021-06-10  591.0         1          1
2065  2021-06-11  602.0         1          1
2066  2021-06-15  607.0         0          1
2067  2021-06-16  608.0         1          1
2068  2021-06-17  601.0         0          1
2069  2021-06-18  608.0         0          1
2070  2021-06-21  590.0         0          1
2071  2021-06-22  585.0         1          1
2072  2021-06-23  583.0         0          0
2073  2021-06-24  598.0         1          0
2074  2021-06-25  598.0         0          0
2075  2021-06-28  590.0         1          1
2076  2021-06-29  598.0         0          1
2077  2021-06-30  599.0         0          1
2078  2021-07-01  596.0         0          1
2079  2021-07-02  590.0         1          1
2080  2021-07-05  588.0         1          1
2081  2021-07-06  595.0         1          1
2082  2021-07-07  590.0         0          1
2083  2021-07-08  595.0         0          1
2084  2021-07-09  582.0         1          1
2085  2021-07-12  595.0         1          1
2086  2021-07-13  600.0         1          1
2087  2021-07-14  613.0         1          1
2088  2021-07-15  613.0         0          1
2089  2021-07-16  591.0         0          1
2090  2021-07-19  583.0         0          1
2091  2021-07-20  579.0         1          1
2092  2021-07-21  586.0         1          1
2093  2021-07-22  589.0         0          0
2094  2021-07-23  592.0         0          0
2095  2021-07-26  591.0         0          1
2096  2021-07-27  581.0         0          1
2097  2021-07-28  576.0         1          1
2098  2021-07-29  585.0         0          1
2099  2021-07-30  581.0         1          1
2100  2021-08-02  583.0         1          1
2101  2021-08-03  594.0         1          1
2102  2021-08-04  598.0         0          1
2103  2021-08-05  598.0         0          1
2104  2021-08-06  596.0         1          1
2105  2021-08-09  590.0         0          1
2106  2021-08-10  596.0         0          1
2107  2021-08-11  590.0         0          1
2108  2021-08-12  586.0         0          1
2109  2021-08-13  585.0         1          1
2110  2021-08-16  582.0         0          1
2111  2021-08-17  580.0         0          1
2112  2021-08-18  568.0         0          1
2113  2021-08-19  573.0         0          1
2114  2021-08-20  560.0         1          1
2115  2021-08-23  560.0         1          1
2116  2021-08-24  574.0         1          1
2117  2021-08-25  579.0         1          1
2118  2021-08-26  601.0         1          1
2119  2021-08-27  596.0         1          1
2120  2021-08-30  602.0         1          1
2121  2021-08-31  604.0         0          1
2122  2021-09-01  614.0         0          1
2123  2021-09-02  613.0         1          1
2124  2021-09-03  610.0         1          1
2125  2021-09-06  623.0         0          1
2126  2021-09-07  634.0         0          1
2127  2021-09-08  622.0         0          1
2128  2021-09-09  612.0         1          1
2129  2021-09-10  615.0         0          1
2130  2021-09-13  619.0         0          1
2131  2021-09-14  618.0         0          1
2132  2021-09-15  610.0         0          1
2133  2021-09-16  603.0         0          1
2134  2021-09-17  600.0         0          1
2135  2021-09-22  586.0         1          1
2136  2021-09-23  588.0         1          1
2137  2021-09-24  591.0         1          1
2138  2021-09-27  600.0         0          1
2139  2021-09-28  595.0         0          1
2140  2021-09-29  580.0         0          1
2141  2021-09-30  580.0         0          1
2142  2021-10-01  579.0         0          1
2143  2021-10-04  574.0         0          1
2144  2021-10-05  562.0         0          1
2145  2021-10-06  573.0         1          1
2146  2021-10-07  575.0         0          1
2147  2021-10-08  582.0         0          1
2148  2021-10-12  570.0         0          1
2149  2021-10-13  572.0         1          1
2150  2021-10-14  579.0         1          1
2151  2021-10-15  592.0         0          1
2152  2021-10-18  604.0         1          1
2153  2021-10-19  598.0         0          1
2154  2021-10-20  603.0         0          1
2155  2021-10-21  602.0         1          1
2156  2021-10-22  600.0         0          1
2157  2021-10-25  597.0         1          1
2158  2021-10-26  595.0         0          1
2159  2021-10-27  598.0         0          1
2160  2021-10-28  598.0         0          1
2161  2021-10-29  595.0         0          1
2162  2021-11-01  591.0         1          1
2163  2021-11-02  594.0         0          1
2164  2021-11-03  597.0         0          1
2165  2021-11-04  592.0         1          1
2166  2021-11-05  598.0         1          1
2167  2021-11-08  600.0         1          1
2168  2021-11-09  611.0         1          1
2169  2021-11-10  611.0         0          1
2170  2021-11-11  600.0         0          1
2171  2021-11-12  610.0         1          1
2172  2021-11-15  609.0         1          1
2173  2021-11-16  612.0         0          1
2174  2021-11-17  615.0         1          1
2175  2021-11-18  613.0         1          1
2176  2021-11-19  622.0         0          1
2177  2021-11-22  618.0         0          1
2178  2021-11-23  615.0         0          1
2179  2021-11-24  612.0         0          1
2180  2021-11-25  605.0         0          1
2181  2021-11-26  598.0         0          1
2182  2021-11-29  594.0         1          1
2183  2021-11-30  597.0         1          1
2184  2021-12-01  596.0         1          1
2185  2021-12-02  605.0         0          1
2186  2021-12-03  614.0         0          1
2187  2021-12-06  603.0         1          1
2188  2021-12-07  602.0         0          1
2189  2021-12-08  614.0         1          1
2190  2021-12-09  606.0         0          1
2191  2021-12-10  605.0         0          1
2192  2021-12-13  609.0         0          1
2193  2021-12-14  598.0         1          1
2194  2021-12-15  597.0         1          1
2195  2021-12-16  605.0         1          1
2196  2021-12-17  601.0         0          1
2197  2021-12-20  607.0         0          1
2198  2021-12-21  597.0         1          1
2199  2021-12-22  598.0         1          1
2200  2021-12-23  607.0         0          1
2201  2021-12-24  606.0         1          1
2202  2021-12-27  604.0         1          1
2203  2021-12-28  610.0         1          1
2204  2021-12-29  615.0         0          1
2205  2021-12-30  619.0         1          1
2206  2022-01-03  619.0         1          1
2207  2022-01-04  645.0         0          1
2208  2022-01-05  669.0         0          0
2209  2022-01-06  638.0         0          0
2210  2022-01-07  643.0         1          1
2211  2022-01-10  628.0         1          1
2212  2022-01-11  646.0         1          1
2213  2022-01-12  657.0         1          1
2214  2022-01-13  658.0         1          1
2215  2022-01-14  673.0         1          1
2216  2022-01-17  685.0         0          1
2217  2022-01-18  678.0         0          1
2218  2022-01-19  652.0         0          1
2219  2022-01-20  650.0         0          1
2220  2022-01-21  644.0         1          0
2221  2022-01-24  639.0         0          0
2222  2022-01-25  643.0         0          0
2223  2022-01-26  635.0         0          0
2224  2022-02-07  644.0         0          0
2225  2022-02-08  645.0         1          1
2226  2022-02-09  635.0         1          1
2227  2022-02-10  639.0         1          1
2228  2022-02-11  646.0         0          1
2229  2022-02-14  640.0         0          1
2230  2022-02-15  633.0         1          1
2231  2022-02-16  645.0         0          1
2232  2022-02-17  644.0         0          1
2233  2022-02-18  638.0         0          1
2234  2022-02-21  633.0         0          1
2235  2022-02-22  628.0         0          1
2236  2022-02-23  624.0         0          1
2237  2022-02-24  618.0         0          1
2238  2022-02-25  600.0         0          0
2239  2022-03-01  599.0         0          0
2240  2022-03-02  601.0         1          0
2241  2022-03-03  603.0         0          0
2242  2022-03-04  595.0         0          0
2243  2022-03-07  580.0         0          0
2244  2022-03-08  561.0         1          0
2245  2022-03-09  567.0         1          0
2246  2022-03-10  585.0         0          0
2247  2022-03-11  581.0         0          0
2248  2022-03-14  574.0         0          0
2249  2022-03-15  562.0         0          0
2250  2022-03-16  564.0         1          0
2251  2022-03-17  578.0         0          0
2252  2022-03-18  582.0         1          0
2253  2022-03-21  583.0         0          0
2254  2022-03-22  577.0         1          0
2255  2022-03-23  590.0         1          1
2256  2022-03-24  587.0         1          1
2257  2022-03-25  597.0         0          1
2258  2022-03-28  581.0         1          1
2259  2022-03-29  586.0         1          1
2260  2022-03-30  599.0         0          1
2261  2022-03-31  602.0         0          1
2262  2022-04-01  585.0         0          1
2263  2022-04-06  578.0         0          1
2264  2022-04-07  571.0         1          1
2265  2022-04-08  567.0         0          1
2266  2022-04-11  563.0         0          0
2267  2022-04-12  554.0         1          0
2268  2022-04-13  564.0         0          0
2269  2022-04-14  577.0         0          0
2270  2022-04-15  562.0         0          1
2271  2022-04-18  559.0         1          1
2272  2022-04-19  566.0         1          1
2273  2022-04-20  570.0         0          1
2274  2022-04-21  571.0         0          1
2275  2022-04-22  558.0         0          1
2276  2022-04-25  550.0         0          1
2277  2022-04-26  550.0         0          0
2278  2022-04-27  530.0         1          0
2279  2022-04-28  530.0         1          0
2280  2022-04-29  547.0         0          0
2281  2022-05-03  538.0         1          0
2282  2022-05-04  533.0         1          0
2283  2022-05-05  543.0         0          1
2284  2022-05-06  528.0         0          1
2285  2022-05-09  523.0         0          1
2286  2022-05-10  506.0         1          1
2287  2022-05-11  518.0         0          1
2288  2022-05-12  516.0         1          1
2289  2022-05-13  507.0         1          0
2290  2022-05-16  521.0         1          0
2291  2022-05-17  521.0         1          1
2292  2022-05-18  541.0         0          1
2293  2022-05-19  523.0         1          1
2294  2022-05-20  524.0         0          1
2295  2022-05-23  533.0         0          1
2296  2022-05-24  530.0         1          1
2297  2022-05-25  522.0         0          1
2298  2022-05-26  523.0         1          1
2299  2022-05-27  524.0         1          1
2300  2022-05-30  538.0         1          1
2301  2022-05-31  542.0         0          1
2302  2022-06-01  550.0         0          1
2303  2022-06-02  544.0         0          1
2304  2022-06-06  541.0         0          1
2305  2022-06-07  535.0         1          1
2306  2022-06-08  539.0         0          1
2307  2022-06-09  538.0         0          1
2308  2022-06-10  530.0         0          1
2309  2022-06-13  518.0         0          1
2310  2022-06-14  507.0         0          1
2311  2022-06-15  508.0         0          1
2312  2022-06-16  515.0         0          1
2313  2022-06-17  499.5         0          0
2314  2022-06-20  500.0         1          0
2315  2022-06-21  501.0         0          0
2316  2022-06-22  501.0         0          0
2317  2022-06-23  492.0         1          0
2318  2022-06-24  489.5         1          0
2319  2022-06-27  496.0         0          1
2320  2022-06-28  496.0         0          1
2321  2022-06-29  496.0         0          1
2322  2022-06-30  484.5         0          1
2323  2022-07-01  471.5         0          1
2324  2022-07-04  443.0         1          1
2325  2022-07-05  449.5         0          0
2326  2022-07-06  442.0         1          0
2327  2022-07-07  442.0         1          0
2328  2022-07-08  470.0         0          0
2329  2022-07-11  468.0         0          1
2330  2022-07-12  458.0         1          1
2331  2022-07-13  470.5         1          1
2332  2022-07-14  466.0         1          1
2333  2022-07-15  481.0         1          1
2334  2022-07-18  495.5         0          1
2335  2022-07-19  487.5         1          1
2336  2022-07-20  502.0         1          1
2337  2022-07-21  496.0         1          1
2338  2022-07-22  505.0         0          1
2339  2022-07-25  500.0         0          1
2340  2022-07-26  499.5         1          1
2341  2022-07-27  494.0         0          1
2342  2022-07-28  509.0         1          1
2343  2022-07-29  508.0         0          1
2344  2022-08-01  506.0         0          1
2345  2022-08-02  494.0         1          1
2346  2022-08-03  494.0         0          1
2347  2022-08-04  499.0         1          1
2348  2022-08-05  509.0         0          1
2349  2022-08-08  510.0         0          1
2350  2022-08-09  507.0         0          1
2351  2022-08-10  500.0         1          1
2352  2022-08-11  513.0         1          1
2353  2022-08-12  515.0         1          1
2354  2022-08-15  520.0         1          1
2355  2022-08-16  526.0         1          1
2356  2022-08-17  524.0         0          1
2357  2022-08-18  520.0         0          1
2358  2022-08-19  519.0         0          1
2359  2022-08-22  511.0         0          1
2360  2022-08-23  503.0         0          1
2361  2022-08-24  504.0         1          1
2362  2022-08-25  505.0         1          1
2363  2022-08-26  513.0         0          1
2364  2022-08-29  497.0         0          1
2365  2022-08-30  497.5         1          1
2366  2022-08-31  492.0         0          1
2367  2022-09-01  495.0         0          1
2368  2022-09-02  488.0         1          1
2369  2022-09-05  485.0         1          1
2370  2022-09-06  488.5         0          1
2371  2022-09-07  477.0         1          1
2372  2022-09-08  473.0         1          1
2373  2022-09-12  485.0         1          1
2374  2022-09-13  495.0         0          1
2375  2022-09-14  478.5         0          1
2376  2022-09-15  476.0         0          1
2377  2022-09-16  470.5         0          1
2378  2022-09-19  472.0         1          1
2379  2022-09-20  470.5         0          1
2380  2022-09-21  473.5         0          1
2381  2022-09-22  462.0         0          1
2382  2022-09-23  458.5         0          1
2383  2022-09-26  443.0         1          1
2384  2022-09-27  449.0         0          1
2385  2022-09-28  447.0         0          1
2386  2022-09-29  443.0         0          1
2387  2022-09-30  424.5         0          1
2388  2022-10-03  418.5         1          1
2389  2022-10-04  429.5         1          0
2390  2022-10-05  444.5         1          0
2391  2022-10-06  450.5         0          0
2392  2022-10-07  448.5         0          1
2393  2022-10-11  408.0         0          1
2394  2022-10-12  397.0         0          1
2395  2022-10-13  400.5         1          0
2396  2022-10-14  414.5         0          0
2397  2022-10-17  400.0         1          0
2398  2022-10-18  406.5         0          0
2399  2022-10-19  404.0         1          0
2400  2022-10-20  391.0         0          0
2401  2022-10-21  395.5         0          0
2402  2022-10-24  395.0         0          0
2403  2022-10-25  380.0         1          0
2404  2022-10-26  370.5         1          0
2405  2022-10-27  384.5         0          0
2406  2022-10-28  379.5         1          0
2407  2022-10-31  386.0         1          0
2408  2022-11-01  388.5         1          0
2409  2022-11-02  391.0         0          1
2410  2022-11-03  385.0         0          1
2411  2022-11-04  381.0         1          1
2412  2022-11-07  390.0         1          1
2413  2022-11-08  395.0         1          1
2414  2022-11-09  403.5         0          1
2415  2022-11-10  409.0         1          1
2416  2022-11-11  441.5         1          1
2417  2022-11-14  450.0         1          0
2418  2022-11-15  465.0         1          1
2419  2022-11-16  491.5         0          0
2420  2022-11-17  482.5         1          0
2421  2022-11-18  491.5         0          1
2422  2022-11-21  487.5         1          1
2423  2022-11-22  476.0         1          1
2424  2022-11-23  494.5         1          1
2425  2022-11-24  494.0         1          1
2426  2022-11-25  494.0         0          1
2427  2022-11-28  486.0         1          1
2428  2022-11-29  473.5         1          1
2429  2022-11-30  483.0         1          1
2430  2022-12-01  506.0         0          1
2431  2022-12-02  490.0         0          1
2432  2022-12-05  491.5         0          1
2433  2022-12-06  488.0         0          1
2434  2022-12-07  477.0         0          1
2435  2022-12-08  475.0         1          1
2436  2022-12-09  478.0         0          1
2437  2022-12-12  476.5         0          1
2438  2022-12-13  473.0         1          1
2439  2022-12-14  472.0         0          1
2440  2022-12-15  476.0         0          1
2441  2022-12-16  466.5         0          1
2442  2022-12-19  466.5         0          1
2443  2022-12-20  465.0         1          1
2444  2022-12-21  460.0         1          1
2445  2022-12-22  466.5         0          1
2446  2022-12-23  457.5         1          1
2447  2022-12-26  454.0         1          1
2448  2022-12-27  458.0         0          1
2449  2022-12-28  451.0         0          1
2450  2022-12-29  444.0         1          1
2451  2022-12-30  455.0         1          1
2452  2023-01-03  446.0         0          1
2453  2023-01-04  449.5         1          1
2454  2023-01-05  459.0         0          1

In [33]:
from sklearn import ensemble, metrics
from sklearn.metrics import accuracy_score
import math

print(metrics.classification_report(expectedans,probability))
print(metrics.confusion_matrix(expectedans, probability))
accuracy = accuracy_score(expectedans, probability)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print('precision:',metrics.precision_score(expectedans, probability,average='macro')) 
print('recall:',metrics.recall_score(expectedans, probability,average='macro'))
print('F1-score:',metrics.f1_score(expectedans, probability,average='macro'))

              precision    recall  f1-score   support

           0       0.53      0.18      0.27       276
           1       0.44      0.80      0.57       221

    accuracy                           0.46       497
   macro avg       0.49      0.49      0.42       497
weighted avg       0.49      0.46      0.40       497

[[ 51 225]
 [ 45 176]]
Accuracy: 45.67%
precision: 0.4850763715710723
recall: 0.49058134959669486
F1-score: 0.4200549735504615